header.header.navbar.fixed-top.py-3
  .container
    .header__logo
      a(href="index.html", title="My Dine logo link") 
        img(src="./images/mydine.png", alt="My Dine logo image", class="img-fluid", width="150")
    .header__menu.d-flex.align-items-center
      //- .header__blog
        //- a(href="#", title="title") Blog
      .header__social
        a(href="http://www.facebook.com/mydineuk", title="Facebook", target="_blank").header__social-link.header__social-link--facebook
          i.fa.fa-facebook-square
        a(href="http://www.instagram.com/mydineuk", title="Instagram", target="_blank").header__social-link.header__social-link--instragram
          i.fa.fa-instagram