<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	meta(name="keywords", content="Fresh, Gourmet, Meal, Caribe, Food, Deliver, Cook, Eat, Blog")
	meta(name="author", content="Jerson Moreno")
	title My Dine
	link(href="./css/app.min.css", rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700,800", rel="stylesheet")
	block styles
body
	include header.pug
	
	main.wrapper
		block content

	include footer.pug	
	