section#work.work.py-5
	.container
		h1.work__title HOW WE WORK
		.row
			.col-md-6.col-lg-3
				div(class="work__item")
					img(src="./images/desktop-monitor.png", alt="Choose").work__img.img-fluid
					h4 YOU CHOOSE
					p.work__description
						|Select your favourite meals from our breakfast, lunch, dinner and snach menu that you'dlike us to prep.
			.col-md-6.col-lg-3
				div(class="work__item")
					img(src="./images/chef.png", alt="Cook").work__img.img-fluid
					h4 WE COOK
					p.work__description
						|As soon as we receive your order, our professional chefs will cook your meals using our traditional Caribbean recipes.
			.col-md-6.col-lg-3
				div(class="work__item")
					img(src="./images/shipped.png", alt="Deliver").work__img.img-fluid
					h4 WE DELIVER
					p.work__description
						|Once your meals are cooked and packaged. We deliver them meals straight to your front door, fresh!
			.col-md-6.col-lg-3
				div(class="work__item")
					img(src="./images/knife-fork-and-plate.png", alt="Deliver").work__img.img-fluid
					h4 YOU EAT
					p.work__description
						|Now it's your turn to enjoy! Eat flavourful fresh meals at any time of the day. Making meals more convenient.